@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff") format("woff"), url("../fonts/Jost-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-display: swap;
  src: url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

.checkbox__input:checked + .checkbox__text::before,
.select-styled::before,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-down:before {
  content: "\e90d";
}

.icon-triangle:before,
.select-styled:before {
  content: "\e90c";
}

.icon-arrow-right:before {
  content: "\e90b";
}

.icon-check:before,
.checkbox__input:checked + .checkbox__text:before {
  content: "\e90a";
}

.icon-close:before {
  content: "\e909";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-star:before {
  content: "\e906";
}

.icon-twitter:before {
  content: "\e907";
}

.icon-youtube:before {
  content: "\e908";
}

.icon-cart:before {
  content: "\e900";
}

.icon-globe:before {
  content: "\e901";
}

.icon-person:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

body {
  font-family: "Pretendard", sans-serif;
  color: #1e1e1e;
}

body.lock,
body.modal-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumbs {
  color: #8e7a6d;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.breadcrumbs__item {
  padding: 0.3125em;
}

.breadcrumbs__item:first-child {
  position: relative;
  padding-left: 0.9375em;
}

.breadcrumbs__item:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 0.3157894737em;
  height: 0.3157894737em;
  background: #8e7a6d;
  border-radius: 2px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin: 0em 0em 0em 0.25em;
}

.breadcrumbs__item-link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  cursor: pointer;
  position: relative;
}

.select-styled {
  background: #fff;
  padding: 0.8333333333em 4.1666666667em 0.8333333333em 1.6666666667em;
  border: 1px solid #754c24;
  border-radius: 12px;
  color: #754c24;
  font-size: 12px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-styled::before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 10px;
}

.select-styled:active::before,
.select-styled.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-options {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #754c24;
  background: #fff;
  border-radius: 12px;
  color: #754c24;
}

.select-options li {
  padding: 0.9375em 1.25em;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-options li:hover {
  background: #42210b;
  color: #fff;
}

.select-options li.active {
  background: #42210b;
  color: #fff;
}

.quantity-item {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #42210b;
  font-size: 14px;
}

.quantity-item__btn-down,
.quantity-item__btn-up {
  position: relative;
  display: block;
  z-index: 2;
  width: 20px;
  height: 20px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.quantity-item__btn-down::before,
.quantity-item__btn-up::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quantity-item__btn-down.btn-disabled,
.quantity-item__btn-up.btn-disabled {
  pointer-events: none;
}

.quantity-item__btn-down::before {
  content: "-";
  top: 50%;
  font-size: 18px;
}

.quantity-item__btn-up::before {
  content: "+";
}

.quantity-item__value {
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0edeb;
}

.title-thin {
  color: #42210b;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-bold {
  font-size: 36px;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.product-slider__slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-slider__prev {
  left: 0;
}

.product-slider__next {
  right: 0;
}

.product-slider__prev,
.product-slider__next {
  color: #42210b;
}

.product {
  position: relative;
}

.product__image {
  position: relative;
  height: 280px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.product__image img {
  -webkit-transition: -webkit-transform 0.45s ease 0s;
  transition: -webkit-transform 0.45s ease 0s;
  -o-transition: transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s, -webkit-transform 0.45s ease 0s;
}

.product__cart {
  margin: 1.25em 0em 0em 0em;
}

.product__cart::before {
  margin: 0em 0.3125em 0em 0em;
  font-size: 18px;
}

.product__label {
  position: absolute;
  top: 21px;
  left: 0;
  background: #9f8f84;
  color: #ffff93;
  text-align: center;
  font-family: Jost;
  padding: 0.625em 1.875em;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  max-width: 50%;
  width: 100%;
  border-radius: 0 60px 60px 0;
}

.product__info {
  margin: 3.125em 0em 0em 0em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__title {
  font-size: 18px;
}

.product__desc {
  margin: 1.1428571429em 0em 0em 0em;
  color: #887a6d;
  font-size: 14px;
}

.product__price {
  margin: 1.1428571429em 0em auto 0em;
  color: #887a6d;
  font-size: 14px;
}

.product__rate {
  margin: 1.5rem 0em 0em 0em;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rate__item {
  color: #d3cdc8;
}

.rate__item:not(:last-child) {
  margin: 0em 1.25em 0em 0em;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #fff;
}

.sidebar__categories-title {
  color: #42210b;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.sidebar__categories-list {
  border-top: 1px solid #42210b;
}

.sidebar__categories-item {
  border-bottom: 1px solid #42210b;
}

.sidebar__categories-link {
  font-size: 13px;
  font-weight: 300;
  line-height: 2.5384615385;
}

.sidebar__categories-link::before {
  margin-right: 0.3125em;
}

.sidebar__benefit {
  color: #754c24;
  padding: 0em 0em 1.375em 0em;
  border-bottom: 1px solid #754c24;
}

.sidebar__benefit:not(:last-child) {
  margin: 0em 0em 1.375em 0rem;
}

.sidebar__benefit-thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.25em;
}

.sidebar__benefit-caption {
  font-size: 13px;
}

.sidebar__benefit-desc {
  margin: 0.3125em 0em 0em 0em;
  color: #754c24;
  font-family: Jost;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}

.sidebar__image-desc {
  color: #42210b;
  font-size: 13px;
  line-height: 1.2307692308;
}

.swiper-button-prev:disabled,
.swiper-button-prev[aria-disabled=true],
.swiper-button-next:disabled,
.swiper-button-next[aria-disabled=true] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.search {
  border-top: 2px solid #d9d3ce;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  padding: 0.625em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #42210b;
  border-radius: 8px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__row .form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__grid {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.form__column-item:not(:last-child) {
  margin: 0em 0em 1.875em 0rem;
}

.form__footer {
  margin: 1.25em 0em 0em 0em;
}

.form__forgot {
  color: blue;
  font-family: Jost;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}

.form__footer-btn.btn.btn-gray {
  padding: 0.8333333333em 4.5833333333em;
}

.form__label {
  font-size: 14px;
  font-weight: 300;
  margin: 0em 0em 0.3571428571em 0rem;
}

.form__input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  border-radius: 0;
  color: #664b39;
  border-bottom: 1px solid #664b39;
  font-size: 14px;
  font-weight: 300;
  padding: 0.625em 0em 0.3125em;
}

.form__input::-webkit-input-placeholder {
  color: #d3cdc8;
}

.form__input::-moz-placeholder {
  color: #d3cdc8;
}

.form__input:-ms-input-placeholder {
  color: #d3cdc8;
}

.form__input::-ms-input-placeholder {
  color: #d3cdc8;
}

.form__input::placeholder {
  color: #d3cdc8;
}

.form__input:focus {
  border-bottom: 1px solid #000;
}

.form__input.form__input-gray {
  padding: 0.7142857143em 1.4285714286em;
  background: #dcd7d4;
  border: 0;
  letter-spacing: 0.2em;
  border: 1px solid #dcd7d4;
  color: #251205;
}

.form__input.form__input-gray::-webkit-input-placeholder {
  color: #42210b;
}

.form__input.form__input-gray::-moz-placeholder {
  color: #42210b;
}

.form__input.form__input-gray:-ms-input-placeholder {
  color: #42210b;
}

.form__input.form__input-gray::-ms-input-placeholder {
  color: #42210b;
}

.form__input.form__input-gray::placeholder {
  color: #42210b;
}

.form__input.form__input-gray:focus {
  border: 1px solid #533724;
}

.form__input.error {
  color: #c83232;
  border-color: #c83232;
}

.form__textarea {
  resize: vertical;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  border-radius: 0;
  height: 35px;
  color: #664b39;
  border-bottom: 1px solid #664b39;
  font-size: 14px;
  font-weight: 300;
  padding: 0.625em 0em;
}

.form__textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}

.form__textarea::-moz-placeholder {
  color: #c4c4c4;
}

.form__textarea:-ms-input-placeholder {
  color: #c4c4c4;
}

.form__textarea::-ms-input-placeholder {
  color: #c4c4c4;
}

.form__textarea::placeholder {
  color: #c4c4c4;
}

.form__textarea::-webkit-input-placeholder {
  color: #d3cdc8;
}

.form__textarea::-moz-placeholder {
  color: #d3cdc8;
}

.form__textarea:-ms-input-placeholder {
  color: #d3cdc8;
}

.form__textarea::-ms-input-placeholder {
  color: #d3cdc8;
}

.form__textarea::placeholder {
  color: #d3cdc8;
}

.form__textarea:focus {
  border-bottom: 1px solid #000;
}

.checkbox {
  padding: 0 0.3125em;
}

.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #42210b;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__text::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  margin: 0em 0.3125em 0em 0em;
  font-size: 12px;
  border-radius: 6px;
  z-index: 2;
  background: #fff;
  color: #8e7a6d;
  border: 2px solid #8e7a6d;
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  transition: -webkit-transform 0.15s ease 0s;
  -o-transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
  padding: 0.9em 2em;
  border-radius: 0;
  letter-spacing: 0.2em;
}

.btn.btn-brown {
  color: #fff;
  background: #533724;
}

.btn.btn-brown:hover {
  background: #412b1c;
}

.btn.btn-brown:active {
  background: #2f1f15;
  border-color: #2f1f15;
  color: #fff;
}

.btn.btn-brown-border {
  color: #42210b;
  font-family: Jost;
  font-size: 19px;
  font-weight: 500;
  font-style: italic;
  padding: 0.5263157895em 1.0526315789em;
  border: 1px solid #9f8f84;
  border-radius: 60px;
}

.btn.btn-brown-border:hover {
  background: #42210b;
  color: #fff;
}

.btn.btn-brown-border:active {
  background: #2c1607;
  border-color: #2c1607;
}

.btn.btn-gray {
  background: #d3cdc8;
  color: #42210b;
  font-size: 12px;
  font-weight: 500;
  padding: 1.25em 5em;
  border-radius: 60px;
  letter-spacing: normal;
}

.btn.btn-gray:hover {
  background: #42210b;
  color: #fff;
}

.btn.btn-gray:active {
  background: #2c1607;
  border-color: #2c1607;
  color: #fff;
}

.btn.btn-red {
  color: #fff;
  background: #e71c24;
}

.btn.btn-red:hover {
  background: #d3161e;
}

.btn.btn-red:active {
  background: #bc141b;
  border-color: #bc141b;
  color: #fff;
}

.btn.btn-rounded {
  border-radius: 60px;
  font-weight: 500;
}

.btn.btn-sm {
  padding: 0.3125em 1.5625em;
}

.btn:disabled {
  cursor: default;
  color: #a9a9a9;
  border-color: #cacaca;
}

.header {
  border-bottom: 2px solid #d9d3ce;
}

.header__top {
  background: #42210b;
  color: #fff;
}

.header__top-body {
  min-height: 52px;
}

.header__top-text {
  font-size: 9px;
  font-weight: 500;
}

.header__top-info {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Jost";
}

.header__lang::before {
  margin: 0em 0.5em 0em 0em;
}

.header__lang-link {
  font-size: 12px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__lang-link:not(:last-child) {
  margin: 0em 1em 0em 0em;
}

.header__content {
  padding: 0.9375em 0em;
}

.header__logo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 100px;
}

.header__actions {
  color: #42210b;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 160px);
          flex: 1 1 calc(100% - 160px);
}

.header__nav:not(:last-child) {
  margin: 0em 0.9375em 0em 0em;
}

.header__nav-item:not(:last-child) {
  margin: 0em 0.9375em 0em 0em;
}

.header__nav-link {
  position: relative;
  text-transform: uppercase;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__nav-link.icon-down {
  padding-right: 1.25em;
}

.header__nav-link.active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__nav-link::before {
  position: absolute;
  top: 4px;
  font-size: 10px;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header__actions-btn {
  font-size: 20px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__actions-btn:not(:last-child) {
  margin: 0em 1.5625rem 0em 0em;
}

.header__input {
  font-size: 14px;
}

.header__input-login {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__input-login::before {
  font-size: 30px;
  margin: 0em 0.3125rem 0em 0em;
}

.header__input-sign {
  color: #2020ff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.nav-submenu {
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  top: 100%;
  bottom: auto;
  right: auto;
  width: 260px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  padding: 0.625em 0em 0em 0em;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.nav-submenu::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #42210b;
  z-index: -1;
  border-radius: 10px;
}

.nav-submenu.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.nav-submenu__link {
  display: inline-block;
  padding: 0.4375em 0.625em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submenu {
  margin-top: 0.625em;
  display: none;
}

.submenu__item {
  padding: 0.3125em 0;
}

.submenu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu.active .menu__body {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  z-index: 10;
  background: #42210b;
  color: #fff;
}

.menu__body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #42210b;
  color: #fff;
  padding: 5em 0.9375em;
  cursor: default;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.menu__list-item:not(:last-child) {
  margin: 0em 0em 1.5625em 0rem;
}

.menu__link {
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link.menu__link-parent {
  padding-right: 1.25em;
}

.menu__link.menu__link-parent.active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__link.menu__link-parent::before {
  position: absolute;
  top: 4px;
  font-size: 10px;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 12.5px;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  height: 1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  background-color: #1e1e1e;
}

.icon-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.header-cart {
  position: relative;
}

.header-cart__quanitity {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  background: #2020ff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 1.875em 0em;
  background: #42210b;
  color: #fff;
}

.footer__logo {
  max-width: 220px;
}

.footer__text {
  font-size: 13px;
  line-height: 1.2307692308;
}

.footer__text p:not(:last-child) {
  margin: 0em 0em 1.5em 0rem;
}

.footer__contacts-title {
  font-size: 23px;
  font-weight: 500;
  margin: 0em 1em 0em 0em;
}

.footer__contacts-social {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__contacts-social:not(:last-child) {
  margin: 0em 1.25em 0em 0em;
}

.footer__contacts-body {
  margin: 1.5em 0em 0em 0em;
}

.footer__contacts-item {
  font-size: 14px;
}

.footer__contacts-item:not(:last-child) {
  margin: 0em 0em 1.5em 0rem;
}

.footer__contacts-caption {
  margin: 0em 1em 0em 0em;
  font-weight: 500;
}

.footer__contacts-text {
  font-weight: 300;
}

.footer__contacts-text[href] {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__menu {
  margin: 2.5em 0em 0em 0em;
}

.footer__menu-list {
  margin: 0 -0.625em;
}

.footer__menu-item {
  padding: 0.3125em 0.625em;
  width: 100%;
}

.footer__menu-link {
  font-family: Jost;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.3333333333;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-slider__prev,
.main-slider__next {
  color: #fff;
}

.main-slider__prev::after,
.main-slider__next::after {
  font-size: 20px;
}

.main-slider__prev[aria-disabled=true],
.main-slider__next[aria-disabled=true] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-slider__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
}

.main-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.find {
  padding: 4.0625em 0em 3.75em;
  position: relative;
}

.no-webp .find::before {
  background: url("../img/logo-gray.png") center/contain no-repeat; }

.find::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 162px;
  height: 100px;
}

.find__subtitle {
  max-width: 500px;
  color: #42210b;
  font-family: Jost;
  font-weight: 300;
  font-style: italic;
  margin: 0.3333333333em auto 0;
}

.find__slider {
  margin: 1.875em 0em 0em 0em;
}

.find__more {
  margin: 3.4375em 0em 0em 0em;
}

.create__body {
  background: rgba(211, 205, 200, 0.5);
}

.create__title {
  color: #fff;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.create__subtitle {
  font-family: Jost;
  font-size: 14px;
  color: #000;
  line-height: 1.3333333333;
  font-weight: 300;
  font-style: italic;
  max-width: 680px;
  margin: 0.6315789474em auto 0em;
}

.create__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}

.create__images-item {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.create__images-item:nth-child(4),
.create__images-item:nth-child(5) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.benefits {
  padding: 4.0625em 0 5em;
}

.benefits__body {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #42210b;
}

.benefits__item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 45%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item-caption {
  margin: 1.9444444444em 0em 0em 0em;
  font-size: 18px;
}

.benefits__item-desc {
  margin: 1em 0em 0em 0em;
  font-family: Jost;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.letter {
  background: #807163;
  color: #fff;
}

.letter__body {
  padding: 2.8125em 0.9375em;
}

.letter__title {
  font-size: 31px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.letter__text {
  margin: 1.5em 0em 0em 0em;
  font-size: 14px;
  line-height: 1.1904761905;
}

.letter__form {
  margin: 2.5em 0em 0em 0em;
}

.no-webp .reviews {
  background: url("../img/reviews-bg.jpg") 0 0/cover no-repeat, #684d3c; }

.reviews {
  padding: 6.25em 0em 4.0625em;
  color: #fff;
}

.reviews__title {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.reviews__subtitle {
  margin: 0.3333333333em auto 0;
  max-width: 700px;
  font-family: Jost;
  font-weight: 300;
  font-style: italic;
}

.reviews-slider {
  margin: 2.5em auto 0em;
  max-width: 770px;
}

.reviews-slider__slide {
  line-height: 1.25;
  text-align: center;
}

.reviews-slider__pagination {
  margin: 1.25em 0em 0em 0em;
  position: static;
  bottom: auto;
}

.reviews-slider__pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px !important;
}

.brands {
  padding: 0.9375em 0em;
  background: #f1f0f0;
}

.brands .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.brands img {
  max-width: 65%;
  margin: auto;
}

.inquiry {
  padding: 2.5em 0em 3.75em;
  color: #42210b;
}

.inquiry__text {
  margin: 1.4285714286em 0em 0em 0em;
  font-size: 14px;
  font-weight: 100;
}

.login {
  padding: 2.5em 0em 5em;
}

.login__content {
  margin: 2.1875em auto 0em;
  max-width: 1100px;
}

.login__text {
  margin: 1.4285714286em 0em 0em 0em;
  font-size: 14px;
  font-weight: 100;
}

.login__separator {
  position: relative;
  margin: 3.125em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__separator-line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background: #715948;
}

.login__separator-text {
  margin: 0 10px;
}

.contact {
  padding: 3.75em 0em;
}

.contact__content {
  margin: 2.5em 0em 0em 0em;
}

.contact__content-item:not(:last-child) {
  margin: 0em 0em 3.125em 0rem;
}

.contact__subtitle {
  margin: 1.875em 0em 0em 0em;
  line-height: 1.5714285714;
  font-weight: 300;
}

.contact__subtitle span {
  font-weight: 600;
}

.contact__chats {
  margin: 2.1875em -0.625em 0em;
}

.contact__chat {
  padding: 0.3125em 0.625em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.contact__chat .btn.btn-brown-border {
  width: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-size: 18px;
}

.contact__form {
  margin: 2.1875em 0em 0em 0em;
}

.contact__text {
  margin: 2.1875em 0em 0em 0em;
}

.contact__text p {
  color: #684d3c;
  line-height: 1.2380952381;
  font-weight: 300;
}

.contact__text p:not(:last-child) {
  margin: 0em 0em 0.7142857143em 0rem;
}

.about {
  padding: 2.5em 0em 0em 0em;
}

.about__content {
  margin: 2.5em 0em 0em 0em;
}

.about__body {
  padding: 1.875em 0.9375em;
}

.about__body.bg-yellow {
  background: #fbf3eb;
}

.about__body-text {
  margin: 1.875em 0em 0em 0em;
  font-size: 12px;
  line-height: 1.2380952381;
}

.about__body-logo {
  max-width: 120px;
  margin: 0 auto;
}

.shop {
  padding: 3.125em 0em;
}

.shop__sort-info {
  color: #b3a69d;
  font-size: 13px;
  font-weight: 300;
}

.shop__section:not(:last-child) {
  margin: 0em 0em 3.75em 0rem;
}

.shop__section .product__image {
  height: 280px;
}

.shop__section .product__label {
  padding: 0.625em 1.875em;
  font-size: 16px;
}

.shop__section-title {
  color: #42210b;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.shop__section-info {
  color: #42210b;
  font-size: 14px;
  font-weight: 300;
}

.shop__slider .product-slider__next {
  right: -15px;
}

.shop__slider .product-slider__prev {
  left: -15px;
}

.shop__products {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.shop__categories {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.shop__category {
  overflow: hidden;
}

.shop__category img {
  -webkit-transition: -webkit-transform 0.45s ease 0s;
  transition: -webkit-transform 0.45s ease 0s;
  -o-transition: transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s;
  transition: transform 0.45s ease 0s, -webkit-transform 0.45s ease 0s;
}

.shop__category span {
  color: white;
  font-family: Jost;
  font-size: 19px;
  font-weight: 500;
  white-space: nowrap;
  font-style: italic;
}

.shop__more-accordion {
  margin-top: -1.25em;
}

.accordion__content {
  margin: 3.125em 0em 0em 0em;
  display: none;
}

.product-card {
  padding: 0em 0em 1.875em 0em;
  border-bottom: 1px solid #d9d3ce;
}

.product-card__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25em 0em;
}

.product-card__title {
  color: #42210b;
  font-size: 22px;
}

.product-card__subtitle {
  color: #887a6d;
  font-family: Jost;
  font-style: italic;
}

.product-card__rate {
  margin: 1.25em 0em 0em 0em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.product-card__desc {
  margin: 3.125em 0em 0em 0em;
  max-width: 350px;
  color: #754c24;
  font-size: 13px;
  line-height: 1.2307692308;
  font-weight: 100;
}

.product-card__price {
  margin: 1.875em 0em 0em 0em;
  color: #887a6d;
  font-family: Jost;
  font-size: 20px;
  font-style: italic;
}

.product-card__quantity {
  margin: 1.5625em 0em;
}

.main-card-slider {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0em 0em 0.625em 0rem;
}

.main-card-slider__slide {
  height: auto;
}

.thumbs-card-slider__slide {
  height: auto;
  cursor: pointer;
}

.thumbs-card-slider__slide.swiper-slide-thumb-active {
  border: 1px solid;
}

.cart__table {
  color: #754c24;
  font-size: 10px;
}

.cart__table thead th {
  padding: 0.3125em;
  font-size: 12px;
}

.cart__table tr {
  border-bottom: 1px solid #754c24;
}

.cart__table td {
  padding: 0.625em;
}

.cart__preview-thumb {
  width: 100%;
  max-width: 50px;
  height: 50px;
}

.cart__preview-body {
  margin: 0.625em 0em 0em 0em;
}

.cart__preview-text {
  margin: 0.3846153846em 0em 0em 0em;
  color: #887a6d;
  font-family: Jost;
  font-size: 13px;
  font-style: italic;
}

.cart__remove {
  padding: 0.3125em;
  letter-spacing: normal;
  font-size: 9px;
}

.cart__footer-btn {
  width: 100%;
}

@media (min-width: 576px) {
  .quantity-item {
    font-size: 17px;
  }

  .quantity-item__btn-down,
  .quantity-item__btn-up {
    width: 25px;
    height: 25px;
  }

  .quantity-item__btn-down::before {
    font-size: 24px;
  }

  .quantity-item__btn-up::before {
    font-size: 20px;
  }

  .quantity-item__value {
    margin: 0 7px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    height: 25px;
  }

  .sidebar__image img {
    max-width: 320px;
  }

  .form__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .form__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .header__logo {
    max-width: 160px;
  }

  .header__nav:not(:last-child) {
    margin: 0em 1.875em 0em 0em;
  }

  .header__nav-item:not(:last-child) {
    margin: 0em 1.875em 0em 0em;
  }

  .header__nav-item.item-parent {
    position: relative;
  }

  .menu__body {
    margin-left: auto;
    width: 320px;
  }

  .footer__contacts-item {
    font-size: 17px;
  }

  .footer__menu-item {
    width: auto;
  }

  .main-slider__prev::after,
  .main-slider__next::after {
    font-size: 40px;
  }

  .main-slider__pagination {
    bottom: 30px !important;
  }

  .main-slider__pagination .swiper-pagination-bullet {
    margin: 0 25px !important;
  }

  .benefits__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .letter__title {
    font-size: 36px;
  }

  .letter__form {
    margin: 4.5em 0em 0em 0em;
  }

  .inquiry {
    padding: 5em 0em 7.5em;
  }

  .login__content {
    margin: 4.0625em auto 0em;
  }

  .contact__chat {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .about__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    padding: 1.875em;
  }

  .shop__products {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .shop__categories {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .thumbs-card-slider__slide {
    height: 100px;
  }

  .cart__table {
    font-size: 12px;
  }

  .cart__table thead th {
    font-size: 14px;
  }

  .cart__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .cart__preview-body {
    margin: 0em 0em 0em 0.625em;
  }

  .cart__footer-btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .breadcrumbs {
    font-size: 19px;
  }

  .title-thin {
    font-size: 52px;
  }

  .product-slider__prev {
    left: 40px;
  }

  .product-slider__next {
    right: 40px;
  }

  .product__image {
    height: 420px;
  }

  .product__label {
    font-size: 19px;
    padding: 1.0526315789em 2.1052631579em;
  }

  .header__content {
    padding: 2.25em 0em 1.875em;
  }

  .header__actions {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 183px;
  }

  .header__nav-link {
    font-size: 17px;
  }

  .header__nav-link::before {
    font-size: 14px;
  }

  .menu__link.menu__link-parent::before {
    top: 2px;
    font-size: 14px;
  }

  .main-slider__slide {
    height: auto;
  }

  .find::before {
    left: 40px;
    width: 324px;
    height: 200px;
  }

  .find__subtitle {
    font-size: 21px;
  }

  .find__slider {
    margin: 3.875em 0em 0em 0em;
  }

  .create__body {
    background: rgba(211, 205, 200, 0.35);
  }

  .create__subtitle {
    color: #684d3c;
  }

  .create__images {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .create__images-item {
    grid-column: auto;
  }

  .create__images-item:nth-child(4),
  .create__images-item:nth-child(5) {
    grid-column: auto;
  }

  .benefits__body {
    gap: 40px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .letter__body {
    padding: 4.0625em 3.125em;
  }

  .letter__text {
    margin: 2.7em 0em 0em 0em;
    font-size: 18px;
  }

  .reviews__title {
    font-size: 59px;
  }

  .reviews__subtitle {
    font-size: 21px;
  }

  .reviews-slider {
    margin: 5em auto 0em;
  }

  .reviews-slider__slide {
    font-size: 20px;
  }

  .login {
    padding: 7.8125em 0em 12.5em 0em;
  }

  .login__separator {
    margin: 1.5625em 0 3.75em;
  }

  .contact {
    padding: 7.5em 0em;
  }

  .contact__content-item:not(:last-child) {
    margin: 0em 0em 6.25em 0rem;
  }

  .contact__subtitle {
    margin: 2.7619047619em 0em 0em 0em;
    font-size: 21px;
  }

  .contact__chats {
    margin: 3.4375em -1.25em 0em;
  }

  .contact__chat {
    padding: 0.3125em 1.25em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .contact__chat .btn.btn-brown-border {
    width: auto;
    padding: 0.3125em 3.125em;
  }

  .contact__form {
    margin: 3.125em 0em 0em 0em;
  }

  .contact__text {
    margin: 3.125em 0em 0em 0em;
  }

  .contact__text p {
    font-size: 21px;
  }

  .about {
    padding: 5em 0em 0em 0em;
  }

  .about__body-text {
    font-size: 16px;
  }

  .about__body-logo {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .title-bold {
    font-size: 49px;
  }

  .product__rate {
    margin: 2.25rem 0em 0em 0em;
  }

  .form__grid.form__grid-lg {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .form__grid-item.form__grid-item-lg {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .header__top-text {
    font-size: 12px;
  }

  .header__top-info {
    font-size: 21px;
  }

  .header__lang::before {
    font-size: 20px;
  }

  .header__lang-link {
    font-size: 16px;
  }

  .header__logo {
    max-width: auto;
  }

  .header__nav:not(:last-child) {
    margin: 0em 3.75em 0em 0em;
  }

  .header__nav-item:not(:last-child) {
    margin: 0em 3.75em 0em 0em;
  }

  .footer__menu {
    margin: 4.625em 0em 0em 0em;
  }

  .main-slider__prev {
    left: 60px;
  }

  .main-slider__next {
    right: 60px;
  }

  .main-slider__prev::after,
  .main-slider__next::after {
    font-size: 60px;
  }

  .create__title {
    font-size: 45px;
  }

  .create__subtitle {
    font-size: 16px;
  }

  .benefits__body {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .letter__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .letter__title {
    font-size: 46px;
  }

  .letter__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .inquiry__text {
    margin: 2.380952381em 0em 0em 0em;
    font-size: 18px;
  }

  .login__text {
    margin: 2.619047619em 0em 0em 0em;
    font-size: 18px;
  }

  .about {
    padding: 7.5em 0em 0em 0em;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .about__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .shop {
    padding: 6.25em 0em;
  }

  .shop__products {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }

  .product-card__info {
    padding: 1.25em 0em 0em 2.8125em;
  }

  .main-card-slider {
    margin: 0em 0.625em 0em 0em;
  }

  .thumbs-card-slider {
    min-width: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    height: 465px;
  }

  .thumbs-card-slider__slide {
    height: auto;
  }

  .cart__table {
    font-size: 16px;
  }

  .cart__table thead th {
    font-size: 18px;
    padding: 0.625em 0em;
  }

  .cart__table td {
    padding: 1.25em 0;
  }

  .cart__preview-thumb {
    max-width: 80px;
    height: 80px;
  }

  .cart__remove {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .form__input.form__input-gray {
    padding: 0.7142857143em 3.5714285714em;
  }

  .header__logo {
    max-width: 260px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0em 5em;
  }

  .header__actions {
    padding: 1.25em 0em 0em 0em;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .header__nav:not(:last-child) {
    margin: 0;
  }

  .header__nav-item:not(:last-child) {
    margin: 0em 8.4375em 0em 0em;
  }

  .create__title {
    font-size: 65px;
  }

  .create__subtitle {
    font-size: 19px;
  }

  .letter__body {
    padding: 8.125em 6.25em;
  }

  .letter__title {
    font-size: 51px;
  }

  .letter__text {
    font-size: 21px;
  }

  .letter__form {
    margin: 6.5em 0em 0em 0em;
  }

  .inquiry__text {
    font-size: 21px;
  }

  .login__text {
    font-size: 21px;
  }

  .about__body {
    padding: 3.75em;
  }

  .about__body-text {
    font-size: 18px;
  }

  .shop__products {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .shop__categories {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .product-card__desc {
    margin: 6.25em 0em 0em 0em;
  }

  .product-card__price {
    margin: 3.75em 0em 0em 0em;
  }

  .product-card__quantity {
    margin: 4.6875em 0em 1.5625em 0em;
  }

  .thumbs-card-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    height: 565px;
  }
}

@media (min-width: 1400px) {
  .about__body-text {
    font-size: 21px;
  }

  .product-card__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52.5%;
            flex: 0 0 52.5%;
    max-width: 52.5%;
  }

  .product-card__info {
    padding: 1.25em 2.5em 0em 5.3125em;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1460px;
  }

  .container.container-lg {
    max-width: 100%;
    padding: 0 7.5em;
  }

  .container.container-md {
    max-width: 1510px;
  }

  .container-fluid {
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}

@media (any-hover: hover) {
  .breadcrumbs__item-link:hover {
    color: #2020ff;
  }

  .quantity-item__btn-down:hover,
  .quantity-item__btn-up:hover {
    background: #f0edeb;
  }

  .product__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #311605;
  }

  .header__lang-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .header__nav-item.item-parent:hover .header__nav-link::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .header__nav-item.item-parent:hover .nav-submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }

  .header__nav-link:hover {
    color: #2020ff;
  }

  .header__actions-btn:hover {
    color: #2020ff;
  }

  .header__input-login:hover {
    color: #2020ff;
  }

  .header__input-sign:hover {
    color: #0000b9;
  }

  .menu__close:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .menu__link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .icon-menu:hover span,
  .icon-menu:hover::before,
  .icon-menu:hover::after {
    background-color: #2020ff;
  }

  .footer__contacts-social:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .footer__contacts-text[href]:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .footer__menu-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  .shop__category:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .find::before { background: url(../img/logo-gray.webp) center/contain no-repeat; }

.webp .reviews { background: url(../img/reviews-bg.webp) 0 0/cover no-repeat, #684d3c; }